<footer class="footer-container d-flex align-items-center justify-content-between px-3">
  
  <!-- LEFT SECTION -->
  <div class="d-flex align-items-center">
    <img src="../../../assets/images/job-logo4.jpg" alt="Insider Jobs" width="35" height="35" />

    <span class="mx-3 text-muted">|</span>

    <span class="footer-text">
      Copyright © GreatStack.dev | All rights reserved.
    </span>
  </div>

  <!-- RIGHT SECTION (SOCIAL IMAGE ICONS) -->
  <div class="d-flex align-items-center gap-3">
    <a href="#">
      <img src="../../../assets/images/fb_logo.svg" class="social-img" alt="Facebook" />
    </a>
    <a href="#">
      <img src="../../../assets/images/twitter_logo.svg" class="social-img" alt="Twitter" />
    </a>
    <a href="#">
      <img src="../../../assets/images/insta_logo.svg" class="social-img" alt="Instagram" />
    </a>
  </div>

</footer>
